<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO Do List</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <!-- Header -->
    <div class="container">
        <h1>Add Work to do in To-Do list</h1>
        <a id="newItemBtn" href="/new">Add New Item</a>
        <!-- Card for Form -->
        <ul id="postsList">
            <% items.forEach(item =>{ %>
                <li>
                    <h2>
                        <%= item.title %>
                    </h2>
                    <small>
                        <%= item.date %>
                    </small>
                    <p>
                        <%=item.content%>
                    </p>
                    <small>Do For: <%=item.time%> </small>
                    <a href="/edit/<%= item.id%>" class="edit">Edit</a>
                    <a href="/api/items/delete/<%= item.id%>" class="delete">Delete</a>

                </li>
            <% }); %>
        </ul>
    </div>
    <!-- Background -->
    <div class="background"></div>
</body>
</html>